<div class="course-detail">
  <h2>{{ selectedCourse?.title }}</h2>
  <div class="chapter-content">
    <app-sidebar
      [chapters]="selectedCourse?.chapters"
      (chapterSelected)="onChapterSelected($event)">
    </app-sidebar>
    <div class="chapter-details">
      <h3>{{ selectedChapter?.title }}</h3>
      <pdf-viewer *ngIf="selectedChapter?.pdfUrl"
                  [src]="selectedChapter.pdfUrl"
                  [render-text]="true"
                  style="display: block;">
      </pdf-viewer>
    </div>
  </div>
</div>
